// Place to set global style variables
// Colors


// Sizing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 4.0rem;
$xl-size: 6.4rem;

// Fonts
$highlight-font: 'Permanent Marker', cursive;
$main-font: 'Prompt', sans-serif;